<!DOCTYPE html>
<html>
  <%- include('../../partials/header') %>
  <body>
    <%- include('../../partials/topbar') %>
	<center>
<image src="../images/SpiritsLogo.png"></image>
</br>
Coming Soon
	</center>
  </body>
</html>
<%- include('../../partials/footer') %>