<!DOCTYPE html>
<html>
  <%- include('./partials/header') %>
  <link rel="stylesheet" href="stylesheets/flipcard.css">
  <body>
    <%- include('./partials/topbar') %>
    <style>
    div#TechnicalSkills img{
    	width:100px;
	height:100px;
    }
    </style>
    <center><p><h1>This is my about page.</h1></p></center>
    <center><p>I'm a small time developer from the city of Edmonton in Alberta Canada.</p></center>
    <center><p>If you want to get in contact with me my email is lordogoo@gmail.com</p></center>

    <hr></hr>
    <div id="TechnicalSkills">
	<center>
	<h1>Technical Skills</h1>
	Here is a list of languages,programs and frameworks I'm skilled with.
	<h3>Conventonal Languages</h3>
	<a href="https://en.wikipedia.org/wiki/File:Java_programming_language_logo.svg#/media/File:Java_programming_language_logo.svg"><img src="https://upload.wikimedia.org/wikipedia/en/thumb/3/30/Java_programming_language_logo.svg/1200px-Java_programming_language_logo.svg.png" alt="Java programming language logo.svg"></a>
	<a title="Jeremy Kratz, Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:ISO_C%2B%2B_Logo.svg"><img width="256" alt="ISO C++ Logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/ISO_C%2B%2B_Logo.svg/256px-ISO_C%2B%2B_Logo.svg.png"></a>
	<a title="Jason Groce, Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:C_Sharp_wordmark.svg"><img width="512" alt="C Sharp wordmark" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0d/C_Sharp_wordmark.svg/512px-C_Sharp_wordmark.svg.png"></a>
	</br>
	<h3>Mobile Languages</h3>
	<a href="https://commons.wikimedia.org/wiki/File:Android_robot_(2014-2019).svg#/media/File:Android_robot_(2014-2019).svg"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/Android_robot_%282014-2019%29.svg/1200px-Android_robot_%282014-2019%29.svg.png" alt="Android robot (2014-2019).svg"></a>
	</br>
	<h3>Web Languages and Technologies</h3>
	<a href="https://commons.wikimedia.org/wiki/File:HTML5_logo_and_wordmark.svg#/media/File:HTML5_logo_and_wordmark.svg"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/1200px-HTML5_logo_and_wordmark.svg.png" alt="HTML5 logo and wordmark.svg"></a>
	<a href="https://commons.wikimedia.org/wiki/File:CSS3_logo_and_wordmark.svg#/media/File:CSS3_logo_and_wordmark.svg"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/CSS3_logo_and_wordmark.svg/1200px-CSS3_logo_and_wordmark.svg.png" alt="CSS3 logo and wordmark.svg"></a>
	<a href="https://commons.wikimedia.org/wiki/File:Sass_Logo_Color.svg#/media/File:Sass_Logo_Color.svg"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/96/Sass_Logo_Color.svg/1200px-Sass_Logo_Color.svg.png" alt="Sass Logo Color.svg"></a>
	<a href="https://commons.wikimedia.org/wiki/File:Angular_full_color_logo.svg#/media/File:Angular_full_color_logo.svg"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/1200px-Angular_full_color_logo.svg.png" alt="Angular full color logo.svg"></a>
	<a href="https://commons.wikimedia.org/wiki/File:Node.js_logo.svg#/media/File:Node.js_logo.svg"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Node.js_logo.svg/1200px-Node.js_logo.svg.png" alt="Node.js logo.svg"></a>
	<a href="https://commons.wikimedia.org/wiki/File:PHP-logo.svg#/media/File:PHP-logo.svg"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/PHP-logo.svg/1200px-PHP-logo.svg.png" alt="PHP-logo.svg"></a>
	<a href="https://commons.wikimedia.org/wiki/File:Spring_Framework_Logo_2018.svg#/media/File:Spring_Framework_Logo_2018.svg"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/44/Spring_Framework_Logo_2018.svg/1200px-Spring_Framework_Logo_2018.svg.png" alt="Spring Framework Logo 2018.svg"></a>
	</br>
	<h3>Databases</h3>
	<a href="https://en.wikipedia.org/wiki/File:MySQL_logo.svg#/media/File:MySQL_logo.svg"><img src="https://upload.wikimedia.org/wikipedia/en/thumb/d/dd/MySQL_logo.svg/1200px-MySQL_logo.svg.png" alt="MySQL logo.svg"></a>
	<a href="https://commons.wikimedia.org/wiki/File:Postgresql_elephant.svg#/media/File:Postgresql_elephant.svg"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/29/Postgresql_elephant.svg/1200px-Postgresql_elephant.svg.png" alt="Postgresql elephant.svg"></a>
	<a href="https://it.wikipedia.org/wiki/File:Sql_server_logo.png#/media/File:Sql_server_logo.png"><img src="https://upload.wikimedia.org/wikipedia/it/2/23/Sql_server_logo.png" alt="Sql server logo.png"></a>
	</center>
    </div>
    </br>
     *Note: I dont own any of the above logos. Each logo is also a link that points to the location where I got them on wikipedia. Attributions for who owns said logos are on their respective pages on wikipedia.
<hr></hr>
  </body>
</html>
<%- include('./partials/footer') %>