<!DOCTYPE html>
<html>
  <%- include('./partials/header') %>
  <body>
    <%- include('./partials/topbar') %>
    <center><h1>Games I've Created</h1></center>
    <center><a href="/games/CombatSwap"><image src="./images/CombatSwapLogo.png"></image></a></center>
    <center><a href="/games/Mathemagician"><image src="./images/MathemagicianLogo.png"></image></a></center>
    <center><a href="/games/SpiritsOfTheJar"><image src="./images/SpiritsLogo.png"></image></a></center>
  </body>
</html>
<%- include('./partials/footer') %>