<!DOCTYPE html>
<html>
  <%- include('./partials/header') %>
  <link rel="stylesheet" href="stylesheets/flipcard.css">
  <body>
    <%- include('./partials/topbar') %>
	<center>
	<h3>Tools</h3>
	Here is a list of tools that I've created
	<br>
	<a href="watermark/watermark.htm">Anti Ai Watermark</a>
	<br>
	<a href="https://github.com/lordogoo/watermark">source code</a>
	<br>
	<br>
	<h3>Art Demos</h3>
	<a href="./test/door_demo.htm">The Door</a>
	<br>
	<br>
	</center>
  </body>
</html>
<%- include('./partials/footer') %>