<!DOCTYPE html>
<html>
  <%- include('./partials/header') %>
  <link rel="stylesheet" href="stylesheets/flipcard.css">
  <body>
    <%- include('./partials/topbar') %>
    <center>
	<h1>My Writing Ideas</h1>
There is a bunch of stories I have been working on for a while that I don't think I will ever have time to make into a game. This is the repository for those stories.
	</br>
	<a href="./writing/FocusedSpace">Focused Space</a> 
	<br> 
	<a href="./writing/Synod">Synod</a>  
    </center>
  </body>
</html>
<%- include('./partials/footer') %>