<div class="linksbar">
<div class="category" >
	Focused Space
	<button id="fspaceTopBarButton" class="OpenCloseButton" onclick="openCloseButtonWithCookie('fspaceTopBar','fspaceTopBarButton')">&#8744;</button>
</div>
<div class="links"  id="fspaceTopBar" onload="selectElement()">
  <a id="FocusedSpacehomelink" href="/writing/FocusedSpace">Home</a>
  <span>:</span>
  <a id="settinglink" href="/writing/FocusedSpace/setting">Setting</a>
  <a id="ruleslink" href="/writing/FocusedSpace/rules">Rules</a>
  <a id="technologylink" href="/writing/FocusedSpace/technology">Technology</a>
  <span>:</span>
  <a id="urrungonlink" href="/writing/FocusedSpace/urrungon">Ur'rungon</a>
  <a id="humanlink" href="/writing/FocusedSpace/human">Human</a>
  <a id="miilothlink" href="/writing/FocusedSpace/miiloth">Miiloth</a>
  <a id="anotiteslink" href="/writing/FocusedSpace/anotites">Anotites</a>
  <a id="chamboriclink" href="/writing/FocusedSpace/chamboric">Chamboric</a>
  <a id="nullbetalink" href="/writing/FocusedSpace/nullbeta">Null-Beta</a>
  <a id="rabanivelink" href="/writing/FocusedSpace/rabanive">Rabani've</a>
  <a id="youreenlink" href="/writing/FocusedSpace/youreen">Youreen</a>
  <a id="tzizetlink" href="/writing/FocusedSpace/tzizet">Tzizet</a>
</div>
</div>
<script>
openCloseLoadWithCookie('fspaceTopBar','fspaceTopBarButton');
</script>