<div class="linksbar">
<div class="category" >
	Synod
	<button id="synodTopBarButton" class="OpenCloseButton" onclick="openCloseButtonWithCookie('synodTopBar','synodTopBarButton')">&#8744;</button>
</div>
<div class="links"  id="synodTopBar" onload="selectElement()">
  <a id="Synodhomelink" href="/writing/Synod">Home</a>
  <span>:</span>
  <a id="settinglink" href="/writing/Synod/setting">Setting</a>
  <a id="ruleslink" href="/writing/Synod/rules">Rules</a>
  <a id="technologylink" href="/writing/Synod/technology">Technology</a>
  <span>:</span>
  <a id="Eyelink" href="/writing/Synod/Eye">Eye</a>
  <a id="Handlink" href="/writing/Synod/Hand">Hand</a>
  <a id="Toungelink" href="/writing/Synod/Tounge">Tounge</a>
  <a id="Pluralismlink" href="/writing/Synod/Pluralism">Pluralism</a>
  <a id="Polarismlink" href="/writing/Synod/Polarism">Polarism</a>
</div>
</div>
<script>
openCloseLoadWithCookie('synodTopBar','synodTopBarButton');
</script>