<div class="linksbar">
	<div class="category">
  		Writing
  		<button id="writingTopBarButton" class="OpenCloseButton" onclick="openCloseButtonWithCookie('writingTopBar','writingTopBarButton')">&#8744;</button>
	</div>
	<div class="links" id="writingTopBar" onload="selectElement()">
  		<a id="writinghomelink" href="/writing">Home</a>
  		<span>:</span>
  		<a id="FocusedSpacelink" href="/writing/FocusedSpace">Focused Space</a>
		<a id="Synodlink" href="/writing/Synod">Synod</a>
	</div>
</div>
<script>
openCloseLoadWithCookie('writingTopBar','writingTopBarButton');
</script>