<!DOCTYPE HTML>
<html>
<%- include('../../partials/header') %>
<body>
<%- include('../../partials/topbar') %>
<center><h1>Combat Swap Privacy Policy</h1></center>
<center>
Google requires me to make a privacy policy for my game even though my game doesn't record any user data what so ever.
</br>
Although this is quite annoying I feel its necessary to at least make the effort irregardless that google is threatening to take away my ability to update the game.
</br>
I feel like that's at least fair.
</br>
</br>
Therefor I hereby promise that combat swap will not record any user data either now in the present nor in the future.
</br>
I also promise to never update the game to put in any data recording software.
</br>
</br>
Its up to google if they want any of your data but I'm not interested in it.
</br>
That's right I'm not even interested in mining your data to learn how annoying the chess dungeon is.
</br>
I already know and am okay with it.
</br>
I love you all and thank you for playing Combat Swap.
</center>
</body>
</html>
<%- include('../../partials/footer') %>