<div class="linksbar">
<div class="category" >
Combat Swap
<button id="combatswapTopBarButton" class="OpenCloseButton" onclick="openCloseButtonWithCookie('combatswapTopBar','combatswapTopBarButton')">&#8744;</button>
</div>
<div class="links" id="combatswapTopBar" onload="selectElement()">
  <a id="CombatSwaphomelink" href="/games/CombatSwap">Home</a>
  <span>:</span>
  <a id="CombatSwapPrivacyPolicylink" href="/games/CombatSwap/CombatSwapPrivacyPolicy">Privacy Policy</a>
</div>
</div>
<script>
openCloseLoadWithCookie('combatswapTopBar','combatswapTopBarButton');
</script>