<div class="linksbar">
<div class="category" >
Mathemagician
<button id="mathTopBarButton" class="OpenCloseButton" onclick="openCloseButtonWithCookie('mathTopBar','mathTopBarButton')">&#8744;</button>
</div>
<div class="links" id="mathTopBar" onload="selectElement()">
  <a id="Mathemagicianhomelink" href="/games/Mathemagician">Home</a>
</div>
</div>
<script>
openCloseLoadWithCookie('mathTopBar','mathTopBarButton');
</script>