<div class="linksbar">
<div class="category" >
Spirits Of The Jar
<button id="spiritsTopBarButton" class="OpenCloseButton" onclick="openCloseButtonWithCookie('spiritsTopBar','spiritsTopBarButton')">&#8744;</button>
</div>
<div class="links" id="spiritsTopBar" onload="selectElement()">
  <a id="SpiritsOfTheJarhomelink" href="/games/SpiritsOfTheJar">Home</a>
</div>
</div>
<script>
openCloseLoadWithCookie('spiritsTopBar','spiritsTopBarButton');
</script>