<!DOCTYPE html>
<html>
  <%- include('../../partials/header') %>
  <script src="../../javascripts/three.js"></script>
  <script src="../../javascripts/GLTFLoader.js"></script>
  <link rel="stylesheet" href="../../stylesheets/slider.css">
  <body>
    <%- include('../../partials/topbar') %>
	<style>
td {
   border-width: 3px;

}
	</style>
	<center>
		<h1>Pluralism</h1>
Pluralism is the idea that it is possible for cultures with opposing view points to coexist without violence. Rather than a single culture in and of itself pluralists are an amalgum of the great cultures trying to work togeather dispite their differences. Societies doing this require a lot of dicipline to function.

The longest lasting pluralist society is The Synod. The Synod at one point spanned the whole explored galaxy and oversaw both peace keeping and the induction of new species into the galactic government. 

<h1>Technology</h1>
Surprisingly pluralist cultures have thier own technology on top of what their other cultures provide. 

The most famouse instance of pluralist technology produced by the synod. Its a set of books each one called a concorde. Concordes are used to record the history of the galaxy with an emphasis on the mistakes of the synod. The hope of those who use the books is if followers of the synod sincerly record their mistakes they will be able to fix their problems and help more societies work togeather.

The books themselves have written sections but there is also eye stones embedded in the pages with visual recordings and handprints with recordings of the feelings of past people.

Most concords are so full of stories that its thought that anyone who reads them will find the answer for their questions and the folly of their actions. Not all concordes contain the exact same information given that they are spread widely over the galaxy but if two concords are ever brought togeather their keepers will copy into each others all the missing information.

Pluralists are also able to combine the technologies of other cultures togeather. The famous peace keepers of the synod use armour with jet boots made of tounge technology that allows them to survive hight impact forces, shields with eye stones embedded in them that block weapon fire and stun enemies and are all educated in marshal arts allowing them to doge most attacks.
	</center>
  </body>
</html>
<%- include('../../partials/footer') %>