<!DOCTYPE html>
<html>
  <%- include('../../partials/header') %>
  <body>
    <%- include('../../partials/topbar') %>
	<style>
td {
   border-width: 3px;

}
	</style>
	<center>
		<h3>Rules</h3>
		I think good stories are made when a writer creates good rules as to what their settings can and cannot have. I'm going to list the rules here for Synod.

		</br>
		</br>
		Rule 1
		</br>
Do not use iconic phrases or things from starwars. I only want this setting to be vaguely inspired by starwars. This will be hard when it comes especially to nations, governments, ships and superweapons.
		</br>
		</br>
		Rule 2
		</br>
No time travel and no alternate universes and no alternate dimensions. I want the setting to be entirly set in standard space.
		</br>
		Rule 3
		</br>
The Synod planet around the black hole at the center of the galaxy must not be a future or past earth. Please dont make it earth.
	</center>
  </body>
</html>
<%- include('../../partials/footer') %>