<!DOCTYPE html>
<html>
  <%- include('../../partials/header') %>
  <body>
    <%- include('../../partials/topbar') %>
	<style>
td {
   border-width: 3px;

}
	</style>
	<center>

	<h2>Premis</h2>
Synod is a space opera and space fantasy setting.
	<h2>Inspiration</h2>
Starwars is the inspiration for the synod setting. I'm hoping to use the mythic arcetypes crossed with science fiction trops found in starwars but with a heavy ammount of pluralist philosophy.
	<h2>History</h2>
It was found that races found in the galaxy come in particular flavors. These flavors are the great culture of the tounge, The great culture of the hand and the great culture of the eye. Each of these cutures has their own distinct technolongy and way of approching the universe. For some reason its very unlikely for a race to be able to change their culture.
<br>
Its thought that these cultures are all equaly legitimite dispite being very different. This has caused friction between the races and there have been eras of large scale wars over galactic territory to determine which of the three cultures are best.
<br>
After many millions of years the synod was established. A white tower was built on an abandoned planet orbiting the black hole in the center of the galaxy. The synod is a galactic league of empires that attempts to mitigate conflict and protect peace. The synod has a galactic group of peace keepers called the knights of pluralism.
	<h2>Current Time</h2>
The races of the galaxy over time became more polarized and thus wanted to return to the old way of war so they could prove their supremect over the cultures they are opposed to. These races formed a coolition and went to war with the knights of pluralism. They eventually captured the white tower and sent the synod into exile.
<br>
Because of this now the great cultures are at war and the galaxy has decended into chaos. Conflict has only escilated and now star destroying super weapons are being employed to cause large scale mass distruction.
<br>
The knights of pluralism now roam the galaxy looking to depolarize warring factions in an attempt to restore peace to the stars.
	</center>

  </body>
</html>
<%- include('../../partials/footer') %>