<!DOCTYPE html>
<html>
  <%- include('../../partials/header') %>
  <body>
    <%- include('../../partials/topbar') %>
	<style>
td {
   border-width: 3px;

}
	</style>
	<center>
	<h3>Synod</h3>
	Synod is a fantasy/sci-fi large scale space opera setting. 
	</center>
	<center>
	<a href="/writing/Synod/Rules">Rules</a>
	<a href="/writing/Synod/Setting">Setting</a>
	<a href="/writing/Synod/Technology">Technology</a>
	</center>
	<center>
	Cultures
	<table>
		<tr>
			<td>
				<a href="/writing/Synod/Eye">Culture of The Eye</a>
			</td>
			<td>
				<a href="/writing/Synod/Tongue">Culture of The Tongue</a>
			</td>
			<td>
				<a href="/writing/Synod/Hand">Culture of The Hand</a>
			</td>
		</tr>
	</table>
	Politics
	<table>
		<tr>
			<td>
				<a href="/writing/Synod/Pluralism">Pluralism</a>
			</td>
			<td>
				<a href="/writing/Synod/Polarism">Polarism</a>
			</td>
		</tr>
	</table>
	</center>
  </body>
</html>
<%- include('../../partials/footer') %>