<!DOCTYPE html>
<html>
  <%- include('../../partials/header') %>
  <body>
    <%- include('../../partials/topbar') %>
	<style>
td {
   border-width: 3px;

}
	</style>
	<center>
	<h3>Focused Space</h3>
	Focused Space is a near-ish earth high technology sci-fi setting. 
	</center>
	<center>
	<a href="/writing/FocusedSpace/Rules">Rules</a>
	<a href="/writing/FocusedSpace/Setting">Setting</a>
	<a href="/writing/FocusedSpace/Technology">Technology</a>
	</center>
	<center>
	Races
	<table>
		<tr>
			<td>
				<a href="/writing/FocusedSpace/urrungon">Ur'rungon</a>
			</td>
			<td>
				<a href="/writing/FocusedSpace/human">Human</a>
			</td>
			<td>
				<a href="/writing/FocusedSpace/miiloth">Miiloth</a>
			</td>
		</tr>
		<tr>
			<td>
				<a href="/writing/FocusedSpace/anotites">Anotites</a>
			</td>
			<td>
				<a href="/writing/FocusedSpace/chamboric">Chamboric</a>
			</td>
			<td>
				<a href="/writing/FocusedSpace/nullbeta">Null-Beta</a>
			</td>
		</tr>
		<tr>
			<td>
				<a href="/writing/FocusedSpace/rabanive">Rabani've</a>
			</td>
			<td>
				<a href="/writing/FocusedSpace/youreen">Youreen</a>
			</td>
			<td>
				<a href="/writing/FocusedSpace/tzizet">Tzizet</a>
			</td>
		</tr>
	</table>
	</center>

  </body>
</html>
<%- include('../../partials/footer') %>