<!DOCTYPE html>
<html>
  <%- include('../../partials/header') %>
  <body>
    <%- include('../../partials/topbar') %>
	<style>
td {
   border-width: 3px;

}
	</style>
	<center>
		<h3>Rules</h3>
		I think good stories are made when a writer creates good rules as to what their settings can and cannot have. I'm going to list the rules here for Focused Space.

		</br>
		</br>
		Rule 1
		</br>
We want lots of alien races and those races should be designed using the principles of evolutionary biology. In evolutionary biology there is a principle that technilogical societies have a tencency to have technology based on making the lives of its individual members better rather than changing the nature of said individuals. What that means is that if there is a species that evolves themselves they will not evolve themselves to adopt new behaviors that werent seen before that evoltution.
</br>
For example humanity could never evolve into The Borg because humans dont have a biological imperative to ghestalt colectivism. If we want a race like The Borg it would have to have the collective mind and assimilation behavior before it evolved technology.
</br>
The point of this rule is to make sure that races are designed with some realism in mind.
		</br>
		</br>
		Rule 2
		</br>
No time travel and no alternate universes or dimensions. I want the setting to be entirly set in the space we know using a standard timeline. This will be hard given that I want a realistic(ish) ftl system without time travel and still be somewhat compatable with reletivity.  
		</br>
		</br>
		Rule 3
		</br>
No ancient galaxy spanning civilizations. This setting is supposed to be about young species interacting and I feel like the posibility of species being able to use ancient technology to advance themselves would pollute that. Ancient species can exist but they must be slow to evolve so they have a similar tech level by the time the other races get faster than light travel.
		</br>
		</br>
		Rule 4
		</br>
No magic technology. Every races technology can be developed by any other race given enough time even if those races have very different styles. This is not an excuse to make all the races homoginus. Races will have wildly different specializations. What this means is that specalization will not impact said races ability to adapt to another races technology.
		</br>
	</center>
  </body>
</html>
<%- include('../../partials/footer') %>