<!DOCTYPE html>
<html>
  <%- include('../../partials/header') %>
  <body>
    <%- include('../../partials/topbar') %>
	<style>
td {
   border-width: 3px;

}
	</style>
	<center>

	<h2>Premis</h2>
Focused Space is a near earth science fiction with faster than light travel and lots of aliens. Its near earth in that humanity and all the other alien races will have at most three colonized space systems.
	</br>

	<h2>Focuse</h2>
Each species will have two focuses. One physical focus and one manipulation focus. The physical focus will be what the race is made of. The manipulation focus will be what the race manipulates as its technology. The three possible focuses are Technology, Biology and Crystology. Technology Focus will reprisent things made or constructed from metal and circuts. Biology Focus will reprisent things made form hydrocarbons and cells. Crystal Focus will reprisent things made from glass and ciramics.
</br>
For example humans will be a Techno Biological race because they are made of biology but they manipulate technology.

	<h2>Inspiration</h2>
This series is influenced by warhammer 40k and the Exapance. What I like about warhammer 40k is the long standing lore and in depth history. I hope to incorporate a similar style of history to this setting. What I like from The Expance is how it deals with a realistic near earth future. I would like to incorporate a similar realistic future but further along.

	</center>

  </body>
</html>
<%- include('../../partials/footer') %>