<!DOCTYPE html>
<html>
  <%- include('../../partials/header') %>
  <script src="../../javascripts/three.js"></script>
  <script src="../../javascripts/GLTFLoader.js"></script>
  <link rel="stylesheet" href="../../stylesheets/slider.css">
  <body>
    <%- include('../../partials/topbar') %>
	<style>
td {
   border-width: 3px;

}
	</style>
	<center>
		<h2>Technology</h2>
Technology in Focused Space is going to follow a set of patterns that every race will follow to some degree. This document will be the record of how those technologies will function.
		<h2>Takions</h2>
Takions are a particle similar to electrons but have the ability to move faster than the speed of light. Because of their similarity to electrons they can occupy the same place arround an atom that an electron can. When Takions replace the electrons of an atom that atom can then move faster than the speed of light.
		</br>
Takions haven't always existed in the universe. Just one day the quantum fiz that randomly spawns particles began to spawn Takions. Its thought that this is a product of the expansion of the universe.  
		<h2>Travel FTL</h2>
There are two types of FTL in this setting. Travel FTL is the basic type of FTL. Travel FTL allows a ship to travel from one location to another in a direct line at a fixed rate of speed at velocities faster than the speed of light. For a ship to travel ftl only some of the electrons need to be replaced with takions. The speed of the ship is proportional to the number of electrons replaced in all the atoms that make up the ship. if you replace all the electrons in a single object then that ship will blink ftl rather than travel.
		<h2>Blink FTL</h2>
Blink FTL occures when all the electrons of a ship are replaced with takions. When this happens the ship jumps instantly from one location to another. Its important to note that blink ftl is alot less acurate than travel ftl. In the early days of exploration blink ftl was the prefered method of travel because it would generally get ships where they wanted to go. Things changed. One day all over the galaxy blink ftl became something else where any blink jump would cause a ship to jump to a random place within the galaxy.
		<h2>Kenetic Combat</h2>
The standard form of space combat in this setting is Kenetic Combat. Kenetic Combat is where space combatants fire matter projectiles at each other in the hopes of causing physical damage to each other. Almost all high intensity short range combat is this kind of combat.
		<h2>Thermal Combat</h2>
In space its very hard to keep your ship cool and thus its actually a good combat tacktic to try to rais the temperature of their opponents ship until it no longer functions of the crew dies. Thermal Combat is a slow process and can take a long time to be effective but can be fought at an incredibly long distance. 
		<h2></h2>
	</center>
  </body>
</html>
<%- include('../../partials/footer') %>